###############
# object file #
###############
*.o
*.lo
*.la
*.deps
*.libs

###############
# build       #
###############
build
make.log

###############
# output      #
###############
bin/

##################
# running folder #
##################
workspace/
debug/
profiling/
log/
run/

##############
# data file  #
###############
data/

#########
# CMake #
#########
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#######
# OSX #
#######
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.swp

doc/_build
!doc/Makefile
